<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-0 shadow">
    <img src="https://i.picsum.photos/id/1062/200/300.jpg" class="card-img-top" alt="...">
    <div class="card-body text-center">
      <h5 class="card-title mb-0">{{tamagochi.nombre}}</h5>
      <div class="progress">
        Hambre&emsp;
        <div id="hambre_bar" class="progress-bar bg-warning" role="progressbar" style="width: {{div tamagochi.hambre 3}}%" aria-valuenow="{{tamagochi.hambre}}" aria-valuemin="0" aria-valuemax="300"></div>
      </div>
      <div class="progress">
        Sueño&nbsp;&nbsp;&nbsp;&emsp;
        <div id="sueno_bar"class="progress-bar bg-warning" role="progressbar" style="width: {{div tamagochi.sueno 3}}%" aria-valuenow="{{tamagochi.sueno}}" aria-valuemin="0" aria-valuemax="300"></div>
      </div>
      <div class="progress">
        Limpieza&nbsp;&nbsp;
        <div id="limpieza_bar" class="progress-bar bg-warning" role="progressbar" style="width: {{div tamagochi.limpieza 3}}%" aria-valuenow="{{div tamagochi.limpieza}}" aria-valuemin="0" aria-valuemax="300"></div>
      </div>
    </div>
  </div>
</div>
